//colors
$bg: linear-gradient(163deg, rgba(20, 19, 34, 1) 36%, rgba(6, 6, 13, 1) 100%);

$primary: #3a0af8;
$primary-hover: #2907ae;

$secondary: #7a5af5;
$secondary-hover: #5a39d7;

$black: #080611;
$darkgrey: #0e0e19; //inactive tab on stylesheet
$medgrey: #2b2b3b; //input grey
$lightgrey: #919195; //grey
$white: #e2e2e3; //light

$live: #9dcf5c;
$draft: #fe685a;
$pending: #feb737;

$success: #11a00e;
$error: #ce1128;

//typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $white;
	line-height: 1.3;
	font-family: 'Poppins', sans-serif;
}

p,
a,
span {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

//details
